<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_HOME" value="./logi" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
        <!--but I add it to be clear ;)-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLASSROOM-SERVICE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/Classroom-Service.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="STUDENT-SERVICE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/Student-Service.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="MARK-SERVICE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/Mark-Service.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="STATISTIC-SERVICE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/Statistic-Service.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>


    <logger name="com.jakub.ajamarks.services.showdataservices.StudentServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="STUDENT-SERVICE"/>
    </logger>

    <logger name="com.jakub.ajamarks.services.showdataservices.ClassroomServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="CLASSROOM-SERVICE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.jakub.ajamarks.services.showdataservices.MarkServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="MARK-SERVICE"/>
    </logger>

    <logger name="com.jakub.ajamarks.services.statisticservices.StatisticServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="STATISTIC-SERVICE"/>
    </logger>

    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>